<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="t1000"
		class="com.voytovych.basic.impls.robot.ModelT1000">
	<constructor-arg ref="sonyHand"></constructor-arg>
	<constructor-arg ref="sonyLeg"></constructor-arg>
	<constructor-arg ref="sonyHead"></constructor-arg>
	</bean>
	<bean id="sonyHand"
		class="com.voytovych.basic.impls.sony.SonyHand">
	</bean>
	<bean id="sonyHead"
		class="com.voytovych.basic.impls.sony.SonyHead">
	</bean>
	<bean id="sonyLeg"
		class="com.voytovych.basic.impls.sony.SonyLeg">
	</bean>
	<bean id="toshibaHand"
		class="com.voytovych.basic.impls.toshiba.ToshibaHand">
	</bean>
	<bean id="toshibaHead"
		class="com.voytovych.basic.impls.toshiba.ToshibaHead">
	</bean>
	<bean id="toshibaLeg"
		class="com.voytovych.basic.impls.toshiba.ToshibaLeg">
	</bean>
</beans>
